scipy==1.4.1
numpy==1.19.4
librosa==0.8.0
SoundFile==0.10.3.post1
matplotlib==3.3.3
tensorflow==2.4.0
tqdm==4.55.0
gym==0.18.0
PyYAML==5.3.1
scikit_learn==0.24.0
stable_baselines==2.10.1
stable_baselines3==0.10.0
torch==1.7.1
